<div class="block">
    <div class="inline-block legend-row legend-row-height">
        <div class="inline-block legend-item pending mr-1 align-text-top"></div>
        <div class="inline-block mr-4">Pending</div>

        <div class="inline-block legend-item in-progress mr-1 align-text-top"></div>
        <div class="inline-block mr-4">In Progress</div>

        <div class="inline-block legend-item passed mr-1 align-text-top"></div>
        <div class="inline-block mr-4">Passed</div>

        <div class="inline-block legend-item failed mr-1 align-text-top"></div>
        <div class="inline-block mr-4">Failed</div>

        <div class="inline-block legend-item blocked mr-1 align-text-top"></div>
        <div class="inline-block mr-4">Blocked</div>
    </div>
</div>
