[
    {last_version, 27},
    {migrations, [
        {2, {sql, "patch_2.sql"}},
        {3, {sql, "patch_3.sql"}},
        {4, {sql, "patch_4.sql"}},
        {5, {sql, "patch_5.sql"}},
        {6, {sql, "patch_6.sql"}},
        {7, {sql, "patch_7.sql"}},
        {8, {sql, "patch_8.sql"}},
        {9, {sql, "patch_9.sql"}},
        {10, {sql, "patch_10.sql"}},
        {11, {sql, "patch_11.sql"}},
        {12, {sql, "patch_12.sql"}},
        {13, {sql, "patch_13.sql"}},
        {14, {sql, "patch_14.sql"}},
        {15, {sql, "patch_15.sql"}},
        {16, {sql, "patch_16.sql"}},
        {17, {sql, "patch_17.sql"}},
        {18, {sql, "patch_18.sql"}},
        {19, {sql, "patch_19.sql"}},
        {20, {sql, "patch_20.sql"}},
        {21, {sql, "patch_21.sql"}},
        {22, {sql, "patch_22.sql"}},
        {23, {sql, "patch_23.sql"}},
        {24, {sql, "patch_24.sql"}},
        {25, {sql, "patch_25.sql"}},
        {26, {sql, "patch_26.sql"}},
        {27, {sql, "patch_27.sql"}}
    ]}
].
