.metal {
    color: #c4c5d6 !important;
}

.red {
    color: red;
}

.gold {
    color: #ffd700;
}

.green {
    color: #34bfa3;
}

.blue {
    color: #36a3f7;
}

.c-success {
    color: #34bfa3;
}

.c-info {
    color: #36a3f7;
}

.c-warning {
    color: #ffb822;
}

.c-error {
    color: #f4516c;
}

.c-white {
    color: #fff;
}

.c-gray {
    color: #6c757d;
}

.c-light-gray {
   background-color: #c8c8c8;
}

.c-indigo{
    color: #6610f2;
}

.b-transparent {
    background: transparent;
}

.b-c-success {
    background: #34bfa3;
}

.b-c-info {
    background: #36a3f7;
}

.b-c-warning {
    background: #ffb822;
}

.b-c-error {
    background: #f4516c;
}
