.example-tree-progress-bar {
    margin-left: 30px;
}

ul {
    list-style-type: none;
}

.tree-list-item {

}

.las {
    font-size: 20px;
}

.item-node {
    height: 32px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
}

input[type="text"].default-disable {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.125);
}

input[type="text"].default-disable:disabled {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.125);
}
